<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Banca En Linea</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <a href="#" class="logo">Logo</a>
            <nav class="navegacion">
                <ul>
                    <li><a href="#">ESTADO DE CUENTA</a></li>
                    <li><a href="#">PAGOS</a></li>
                    <li><a href="#">PRESTAMOS</a></li>
                    <li><a href="#">OPERACIONES ENTRE CUENTAS</a></li>
                    <li><a href="#">PRE-AUTORIZACIÓN </a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>